.container{
    background-color: pink;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    flex-wrap: wrap;
}
header{
    display: flex;
    flex-basis: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    background-color: blueviolet;
    flex-grow: 1;
    flex-basis: 150px;
}
.menubar{
    background-color: crimson;
    flex-grow: 4;
    flex-basis: 400px;
}
.section1{
    display: flex;
    flex-basis: 500px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text{
    background-color: aqua;
    flex-grow: 3;
    flex-basis: 300px;
}
.img{
    flex-grow: 2;
    background-color: blueviolet;
    flex-basis: 200px;
}
.section2{
    display: flex;
    flex-basis: 500px;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.left{
    background-color: yellow;
    flex-basis: 350px;
}
.middle{
    background-color: chartreuse;
    flex-basis: 350px;
}
.right{
    background-color: brown;
    flex-basis: 350px;
}
.section3{
    display: flex;
    flex-basis: 600px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img2{
    background-color: cornflowerblue;
    flex-grow: 1;
    flex-basis: 200px;
}
.appinfo{
    background-color: chocolate;
    flex-grow: 2;
    flex-basis: 400px;
}
.section4{
    display: flex;
    flex-basis: 500px;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.review1{
    background-color: green;
    flex-basis: 350px;
}
.review2{
    background-color: aquamarine;
    flex-basis: 350px;
}
.review3{
    background-color: chartreuse;
    flex-basis: 350px;
}
.section5{
    background-color: yellow;
    display: flex;
    flex-basis: 600px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.basic{
    background-color: darkmagenta;
    flex-basis: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.stand{
    background-color: navy;
    flex-basis: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.premium{
    background-color: darksalmon;
    flex-basis: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.section6{
    display: flex;
    flex-basis: 600px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img3{
    background-color: gray;
    flex-grow: 1;
    flex-basis: 300px;
}
.contact{
    background-color: red;
    flex-grow: 1;
    flex-basis: 300px;
}
